$color-white: #ffffff;
$color-light: #f1f5f8;
$color-black: #252a32;
$color-blue: #148cb8;
$color-red: #d32f2f;
$blueColor: rgb(13, 73, 122);
$bkgdColor: rgb(238, 238, 238);
$noDecor: none;
$headerFont: 'Poppins',
sans-serif;
$font: 'Goldman',
cursive;
$box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
0 2px 4px -1px rgba(0, 0, 0, 0.06);
$nomFont: 'Handjet',
cursive;